body {
	padding:0;
	margin:0;
}
h1{
    width: 70%;
    background-color: rgb(211, 38, 159) ;
}

#puntos {
	background: #CC3910;
	width: 70%;
    display: block;
}
section {
	background: #F1F2C0;
	width: 70%;
}
aside {
	background: #CCC59E;
	float: none;
	width: 50%;
    display: block;
}
