body {
	color: rgb(212, 21, 21);
	background: #332F29;
}
h1{
    width: 100%;
    background-color: rgb(38, 211, 38) ;
}

#puntos {
	background: #CC3910;
	width: 100%;
}
section {
	background: #F1F2C0;
	width: 100%;
}
aside {
	background: #CCC59E;
	float: none;
	width: 100%;
}
